/* 创建一个开关按钮的样式 */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* 隐藏开关按钮的输入框 */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* 创建滑块的样式 */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

/* 创建滑块的初始状态 */
.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
/* 当输入框被选中时，改变滑块的背景颜色 */
input:checked + .slider {
  background-color: #2196f3;
}

/* 当输入框被聚焦时，给滑块添加阴影 */
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

/* 当输入框被选中时，移动滑块 */
input:checked + .slider:before {
  transform: translateX(26px);
}

/* 创建滑块的圆角样式 */
.slider.round {
  border-radius: 34px;
}

/* 创建滑块的圆形样式 */
.slider.round:before {
  border-radius: 50%;
}

input {
  /*取消默认样式*/
  appearance: none;

  border-radius: 50%;
  width: 60px;
  height: 60px;

  border: 6px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 10px;
}

input:checked {
  border: 6px solid red;
}

#act3_scale {
  background-image: url('https://raw.githubusercontent.com/Zirpon/douyu-helper/main/src/dota2_act3/assets/img/scale.png');
  background-repeat: no-repeat;
  background-position: center;
}

#act3_fur {
  background-image: url('https://raw.githubusercontent.com/Zirpon/douyu-helper/main/src/dota2_act3/assets/img/fur.png');
  background-repeat: no-repeat;
  background-position: center;
}

#act3_cape {
  background-image: url('https://raw.githubusercontent.com/Zirpon/douyu-helper/main/src/dota2_act3/assets/img/cape.png');
  background-repeat: no-repeat;
  background-position: center;
}

#act3_robe {
  background-image: url('https://raw.githubusercontent.com/Zirpon/douyu-helper/main/src/dota2_act3/assets/img/robe.png');
  background-repeat: no-repeat;
  background-position: center;
}

#act3_helmet {
  background-image: url('https://raw.githubusercontent.com/Zirpon/douyu-helper/main/src/dota2_act3/assets/img/helmet.png');
  background-repeat: no-repeat;
  background-position: center;
}

#act3_tide {
  background-image: url('https://raw.githubusercontent.com/Zirpon/douyu-helper/main/src/dota2_act3/assets/img/tide.png');
  background-repeat: no-repeat;
  background-position: center;
}

#act3_flame {
  background-image: url('https://raw.githubusercontent.com/Zirpon/douyu-helper/main/src/dota2_act3/assets/img/flame.png');
  background-repeat: no-repeat;
  background-position: center;
}

#act3_partner {
  background-image: url('https://raw.githubusercontent.com/Zirpon/douyu-helper/main/src/dota2_act3/assets/img/partner.png');
  background-repeat: no-repeat;
  background-position: center;
}

#act3_ward {
  background-image: url('https://raw.githubusercontent.com/Zirpon/douyu-helper/main/src/dota2_act3/assets/img/ward.png');
  background-repeat: no-repeat;
  background-position: center;
}

#act3_illusion {
  background-image: url('https://raw.githubusercontent.com/Zirpon/douyu-helper/main/src/dota2_act3/assets/img/illusion.png');
  background-repeat: no-repeat;
  background-position: center;
}

#act3_minion {
  background-image: url('https://raw.githubusercontent.com/Zirpon/douyu-helper/main/src/dota2_act3/assets/img/minion.png');
  background-repeat: no-repeat;
  background-position: center;
}

#act3_mask {
  background-image: url('https://raw.githubusercontent.com/Zirpon/douyu-helper/main/src/dota2_act3/assets/img/mask.png');
  background-repeat: no-repeat;
  background-position: center;
}

#act3_shield {
  background-image: url('https://raw.githubusercontent.com/Zirpon/douyu-helper/main/src/dota2_act3/assets/img/shield.png');
  background-repeat: no-repeat;
  background-position: center;
}

#act3_armor {
  background-image: url('https://raw.githubusercontent.com/Zirpon/douyu-helper/main/src/dota2_act3/assets/img/armor.png');
  background-repeat: no-repeat;
  background-position: center;
}

#act3_mystic {
  background-image: url('https://raw.githubusercontent.com/Zirpon/douyu-helper/main/src/dota2_act3/assets/img/mystic.png');
  background-repeat: no-repeat;
  background-position: center;
}

#act3_blood {
  background-image: url('https://raw.githubusercontent.com/Zirpon/douyu-helper/main/src/dota2_act3/assets/img/blood.png');
  background-repeat: no-repeat;
  background-position: center;
}

#act3_void {
  background-image: url('https://raw.githubusercontent.com/Zirpon/douyu-helper/main/src/dota2_act3/assets/img/void.png');
  background-repeat: no-repeat;
  background-position: center;
}

#act3_nature {
  background-image: url('https://raw.githubusercontent.com/Zirpon/douyu-helper/main/src/dota2_act3/assets/img/nature.png');
  background-repeat: no-repeat;
  background-position: center;
}

#act3_storm {
  background-image: url('https://raw.githubusercontent.com/Zirpon/douyu-helper/main/src/dota2_act3/assets/img/storm.png');
  background-repeat: no-repeat;
  background-position: center;
}

#act3_frost {
  background-image: url('https://raw.githubusercontent.com/Zirpon/douyu-helper/main/src/dota2_act3/assets/img/frost.png');
  background-repeat: no-repeat;
  background-position: center;
}
